.qfSider{
    .logo{
       &>h1{
            width: 80px;
            height: 80px;
            margin: 20px auto;
            border-radius: 50%;
            overflow: hidden;
            &>img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .anticon{
        padding-right: 30px;
    }
}